@import "./assets/fonts/fonts.css";
@import "tailwindcss";

:root {
  --font-en: "Poppins", sans-serif;
  --font-km: "Khmer OS Battambang", serif;
  --font-kh: "Koh Santepheap", serif;
}

.active {
  text-decoration: underline; 
}

html[lang="en"] {
  font-family: var(--font-en);
}

html[lang="km"] {
  font-family: var(--font-km);
}
